/*----------------------
GLOBAL STYLES
----------------------*/

/* NOTE: to-do list: */

/*
- use js to give hi screen full screen height, then space everything else well
- track progress in page using js and mark accordingly on header
- set media queries for huge screens (1500px+): project tile size, header max-width, body copy size
- refactor code and eliminate excessive styles
- sub out fontawesome for ionicons

*/


/* ------ Global tags ------ */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Cousine', monospace;
  color: #2B2D42;
  line-height: 1.5;
}

nav a {
  text-decoration: none;
  color: #2B2D42;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 2rem 0;
}


/* ------ Repeated styles ------ */

.white { color: #F1F1F1; }
.bg-white {background: #F1F1F1;}

.light-gray { color: #EDF2F4; }
.bg-light-gray { background: #EDF2F4; }

.gray { color: #8D99AE; }
.bg-gray {background: #8D99AE;}

.black { color: #2B2D42; }
.bg-black {background: #2B2D42; }

.red { color: #EF233C; }
.bg-red { background: #EF233C; }

.no-mar { margin: 0; }
.no-line { text-decoration: none; }
.body-copy-size { font-size: 20px; }
.center { text-align: center; }


/* --- Clearfix --- */

.cf:after {
  content:" ";
  display:block;
  clear:both;
}


/*----------------------
SPECIFIC STYLES
----------------------*/


/* --- Entire page --- */

/*-- Fixed border --- */

.border {
  display: none;
  background: #2B2D42;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.border-top, .border-bottom {
  left: 0; right: 0;
  height: 1.5rem;
}
.border-top { top: 0; }
.border-bottom { bottom: 0; }

.border-left, .border-right {
  top: 0; bottom: 0;
  width: 1.5rem;
}
.border-left { left: 0; }
.border-right { right: 0; }

    .border {
      display: none;
    }

.page {
  height: 100%;
  background: #FFF;
  /* background-image: linear-gradient(#FFF, #EDF2F4); */
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* --- Navbar --- */

.navbar {
  position: fixed;
  background: #EDF2F4;
  width: 100%;
  top: 0;
  font-size: 1.2rem;
  z-index: 6;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navbar ul {
  margin: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  position: relative;
  padding: 1rem;
  display: inline-block;
  /*transition:         150ms ease-in-out 50ms;
  -o-transition:      150ms ease-in-out 50ms;
  -ms-transition:     150ms ease-in-out 50ms;
  -moz-transition:    150ms ease-in-out 50ms;
  -webkit-transition: 150ms ease-in-out 50ms;*/
}

.navbar a:hover {
  color: #FFF;
  background: #EF233C;
}

.navbar a:active {
  background: #D90429;
  /*padding: 4px 10px 3px;*/
}

.navbar li:first-child {
  display: none;
}

.js-selected {
  font-weight: 700;
  font-style: italic;
}


/* --- Main content area --- */

main {
  margin-top: 41px;
  /*float: right;
  padding: 1.5rem 1.5rem 1.5rem 0;
  width: 80%;
  height: 100%;
  position: relative;*/
}

.container {
  margin: 0 auto;
  padding: 7.5rem 0rem;
  max-width: 750px;
  width: 90%;
  text-align: center;
}

.js-section {
  z-index: 1;
}


/* --- Welcome (Hi) --- */

.welcome .text {
  margin: 0 auto;
  width: 280px;
  text-align: center;
}

.welcome h2 {
  margin: 0;
  font: 1.8rem 'Bungee Hairline', sans-serif
}

.welcome h1 {
  margin: 0 auto;
  word-wrap: break-word;
  font: 8rem 'Bungee Shade', cursive;
}


/* --- About --- */

.bio {
  margin-bottom: 4rem;
}

.skills ul {
  margin: 2rem 0;
}

.skills li {
  margin: 1rem 0;
}


/* --- Experience --- */

.job {
  margin: 0 auto 4rem;
  max-width: 550px;
  text-align: left;
}

  .company-logo {
    text-align: center;
  }

  .company-logo img {
    vertical-align: middle;
  }

    .digitalcrafts-logo {
      width: 44%;
      min-width: 200px;
    }

    .wunderman-logo {
      width: 55%;
      min-width: 250px;
    }

  .job-description {
      margin: 2rem 0;
  }

    .job-description a {
      display: block;
    }


/* --- Projects --- */

.project-tile {
  margin: 1rem .5rem;
  display: inline-block;
  background: #EDF2F4;
  max-width: 250px;
  max-height: 250px;
}

.project-tile a {
  display: block;
}

.project-tile img {
  padding: 1rem;
  width: 100%;
}


/* --- Contact --- */

.social-icons a {
  font-size: 4rem;
  color: #2B2D42;
}

.social-icons ul {
  margin: 2rem 0;
}

.social-icons li {
  float: left;
  width: 33.33%;
  text-align: center;
}




























/*----------------------
MEDIA QUERIES
----------------------*/



@media screen and (min-width: 500px) {

  /* --- Navbar --- */

  .navbar {
    font-size: 1.4rem;
  }

  .navbar a {
    padding: 2rem;
  }

  /* --- Main content area --- */

  /* --- Welcome (Hi) --- */

  .welcome .text {
    width: auto;
  }

    .welcome h2 {
      font-size: 2.8rem;
    }

  /* --- About --- */

  .about p {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    width: 80%;
  }

  /* --- Experience --- */

  .skills li {
    float: left;
    width: 50%;
  }

  /* --- Projects --- */


  /* --- Contacts --- */

  .social-icons a {
    font-size: 5rem;
  }







@media screen and (min-width: 768px) {

  body {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }


  /* --- Navbar --- */

  .navbar {
    font-size: 1.6rem;
  }

  .navbar a {
    padding: 2rem 4rem;
  }


  /* --- Welcome (Hi) --- */


  .welcome h2 {
    font-size: 3.5rem;
  }

  .welcome h1 {
    font-size: 10rem;
  }


  /* --- About --- */

  /* --- Experience --- */

  /* --- Projecs --- */

  /* --- Social --- */

  .social-icons a {
    font-size: 6rem;
  }

}







@media screen and (min-width: 1050px) {


  /* --- Entire page --- */

  .border {
    display: block;
  }


  /* --- Navbar --- */

  .navbar {
    background: #EDF2F4;
    float: left;
    padding: 1.5rem 0 1.5rem 1.5rem;
    left: 0;
    width: 20%;
    height: 100%;
    position: relative;
    font-size: 2.4rem;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .navbar ul {
    margin: 0;
    position: relative;
    text-align: center;
    display: inline-block;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
  }

  .navbar li {
    margin: 2rem 0;
    display: block;
  }

  .navbar li:first-child {
    display: block;
  }

  .navbar a {
    position: relative;
    overflow: hidden;
    padding: 2rem 0;
    display: block;
    /*transition:         150ms ease-in-out 50ms;
    -o-transition:      150ms ease-in-out 50ms;
    -ms-transition:     150ms ease-in-out 50ms;
    -moz-transition:    150ms ease-in-out 50ms;
    -webkit-transition: 150ms ease-in-out 50ms;*/
  }

  .navbar a:hover {
    color: #FFF;
  }

  .navbar a:before {
    content: "";
    position: absolute;
    background: #EF233C;
    bottom: 0;
    left: 0;
    top: 0;
    right: 100%;
    z-index: -1;
    /*-webkit-transition: right 200ms ease-in-out;*/
  }

  .navbar a:hover:before {
    right: 0;
  }

  .navbar a:active {
    background: #D90429;
    top: 1px;
    vertical-align: top;
    /*padding: 4px 10px 3px;*/
  }

  .js-selected {
    font-weight: 700;
    font-style: italic;
  }

  /* --- Main content area --- */

  main {
    margin: 0;
    float: right;
    padding: 1.5rem 1.5rem 1.5rem 0;
    width: 80%;
    height: 100%;
    position: relative;
  }

  .content {
    height: 100%;
    position: relative;
  }

  .container {
    padding: 0;
    width: 100%;
    max-width: none;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }

  .js-section {
    position: absolute;
    background: white !important;
    width: 100%;
    height: 100%;
  }

  /* --- Welcome (Hi) --- */

  .welcome {
    background: cadetblue;
    z-index: 1;
  }

  .welcome .container {
    padding-right: 4rem;
  }

  .welcome .text {
    text-align: right;
  }

    .welcome h2 {
      font: 4.3rem 'Bungee Hairline', sans-serif;
    }

    .welcome h1 {
      width: auto;
      word-wrap: normal;
      font: 12rem 'Bungee Shade', cursive;
    }


  /* --- About --- */

  .about {
    background: gold;
    z-index: 2;
  }

  .about .container {
    max-width: 750px;
  }


  /* --- Experience --- */

  .experience {
    background: indianred;
    z-index: 3;
  }

  .experience .container {
    width: 90%;
  }

  .job {
    margin: 0;
    width: 50%;
    display: inline-block;
  }

    .job-description {
      margin: 0;
      padding: 2rem 10%;
    }


  /* --- Projects --- */

  .projects {
    background: slategray;
    z-index: 4;
  }

  .projects .container {
    max-width: 1000px;
  }

  .project-tile {
    width: 33.33%;
  }


  /* --- Contact --- */

  .contact {
    background: darksalmon;
    z-index: 5;
  }

  .contact .container {
    max-width: 750px;
  }

  form {
    margin-top: 4rem;
  }

  .form-field {
    float: left;
    width: 50%;
  }

  .form-field.textarea {
    width: 100%;
  }

    .contact input,
    .contact textarea {
      width: 100%;
    }

    .contact textarea {
      resize: none;
    }


  .social-icons a {
    font-size: 6rem;
    color: #2B2D42;
  }

  .social-icons ul li {
    float: left;
    width: 33.33%;
    text-align: center;
  }



}
