/*----------------------
GLOBAL STYLES
----------------------*/

/* NOTE: to-do list: */

/*
- text-align right is now missing for the logo. find a way to implement it for the welcome div without messing up the other sections

- move the new wunderman logo into the img folder and sub it out for the old one

*/


/* ------ Global tags ------ */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  margin: 0;
  height: 100%;
  font-size: 2.4rem;
  font-family: 'Cousine', monospace;
  box-sizing: border-box;
  line-height: 1.4;
}

nav a {
  text-decoration: none;
  color: #2B2D42;
}

h2 {
  font-size: 3.6rem;
}

ul {
  list-style-type: none;
}


/* ------ Repeated styles ------ */

.tile {
  width: 100%;
  height: 100%;
  position: absolute;
}

.white { color: #F1F1F1; }
.bg-white {background: #F1F1F1;}

.light-gray { color: #EDF2F4; }
.bg-light-gray { background: #EDF2F4; }

.gray { color: #8D99AE; }
.bg-gray {background: #8D99AE;}

.black { color: #2B2D42; }
.bg-black {background: #2B2D42; }

.red { color: #EF233C; }
.bg-red { background: #EF233C; }

.no-mar { margin: 0; }
.no-line { text-decoration: none; }
.body-copy-size { font-size: 20px; }
.center { text-align: center; }


/* --- Clearfix --- */

.cf:after {
  content:" ";
  display:block;
  clear:both;
}


/*----------------------
SPECIFIC STYLES
----------------------*/

/* --- Entire page --- */

.page {
  height: 100%;
  background: #FFF;
  /* background-image: linear-gradient(#FFF, #EDF2F4); */
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* --- Fixed border --- */

.border {
  /* Border color is on line 29 */
  background: #2B2D42;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.border-top, .border-bottom {
  left: 0; right: 0;
  height: 1.5rem;
}
.border-top { top: 0; }
.border-bottom { bottom: 0; }

.border-left, .border-right {
  top: 0; bottom: 0;
  width: 1.5rem;
}
.border-left { left: 0; }
.border-right { right: 0; }


/* --- Navbar --- */

.navbar {
  background: #EDF2F4;
  float: left;
  padding: 1.5rem 0 1.5rem 1.5rem;
  left: 0;
  width: 20%;
  height: 100%;
  position: relative;
  /*font-size: 2.4rem;*/
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navbar ul {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  display: inline-block;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
}

.navbar li {
  margin: 2rem 0;
}

.navbar a {
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  display: block;
  transition:         150ms ease-in-out 50ms;
  -o-transition:      150ms ease-in-out 50ms;
  -ms-transition:     150ms ease-in-out 50ms;
  -moz-transition:    150ms ease-in-out 50ms;
  -webkit-transition: 150ms ease-in-out 50ms;
}

.navbar a:hover {
  color: #FFF;
}

.navbar a:before {
  content: "";
  position: absolute;
  background: #EF233C;
  bottom: 0;
  left: 0;
  top: 0;
  right: 100%;
  z-index: -1;
  -webkit-transition: right 200ms ease-in-out;
}

.navbar a:hover:before {
  right: 0;
}


/* --- Main content area --- */

main {
  float: right;
  padding: 1.5rem 1.5rem 1.5rem 0;
  width: 80%;
  height: 100%;
  position: relative;
}

.content {
  height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}


/* --- Welcome page content --- */

.welcome {
  margin-right: 4rem;
  text-align: right;
}

  .welcome h2 {
    margin: 0;
    font: 4.3rem 'Bungee Hairline', sans-serif;
  }

  .welcome h1 {
    margin: 0;
    font: 12rem 'Bungee Shade', cursive;
  }


/* --- Experience page content --- */

.job {
  width: 50%;
  display: inline-block;
  font-size: 1.8rem;
}

  .company-logo {
    text-align: center;
  }

  .company-logo img {
    vertical-align: middle;
  }

    .digitalcrafts-logo {
      width: 50%;
    }

    .wunderman-logo {
      width: 67%;
    }

  .job h3 {
    margin: 0;
    text-align: center;
    font-size: 2.4rem;
  }

  .job-description {
      padding: 2rem 5rem;
  }
